---
# Based on ansible-lint config
extends: default

rules:
  braces:
    min-spaces-inside: 0 # yamllint defaults to 0
    max-spaces-inside: 1 # yamllint defaults to 0
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  colons:
    max-spaces-after: -1
  commas:
    max-spaces-after: -1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: enable
  empty-lines:
    max: 3
  hyphens:
    level: error
  indentation:
    spaces: consistent
    indent-sequences: true
  key-duplicates: enable
  line-length:
    max: 160
    level: warning
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  # truthy:
  #   allowed-values: ["true", "false", "yes", "no"]
