
{%- set install_arguments = [] -%}
{#- set silent install -#}
{{- install_arguments.append( '-q' ) -}}
{#- set the site / group token -#}
{{- install_arguments.append( '-t' ) -}}
{{- install_arguments.append( s1_agent_site_token ) -}}
{#- set --dont_fail_on_config_preserving_failures -#}
{%- if s1_no_config_failures is defined and s1_no_config_failures | bool -%}
{{- install_arguments.append( '--dont_fail_on_config_preserving_failures' ) -}}
{%- endif -%}
{#- Configure Optional Agent Arguemts '-a' option -#}
{%- set agent_optional_params = [] -%}
{%- if s1_enable_vdi is defined and s1_enable_vdi | bool -%}
{{- agent_optional_params.append( 'VDI=true' ) -}}
{%- endif -%}
{%- if s1_agent_management_proxy is defined and s1_agent_management_proxy is not none and s1_agent_management_proxy | length > 0 -%}
{{- agent_optional_params.append( 'SERVER_PROXY=' + s1_agent_management_proxy ) -}}
{%- endif -%}
{%- if s1_agent_dv_proxy is defined and s1_agent_dv_proxy is not none and s1_agent_dv_proxy | length > 0 -%}
{{- agent_optional_params.append( 'IOC_PROXY=' + s1_agent_dv_proxy ) -}}
{%- endif -%}
{%- if s1_agent_customer_id is defined and s1_agent_customer_id is not none and s1_agent_customer_id | length > 0 -%}
{{- agent_optional_params.append( 'CUSTOMER_ID="""' + s1_agent_customer_id + '"""' ) -}}
{%- endif -%}
{%- if s1_agent_custom_install_path is defined and s1_agent_custom_install_path is not none and s1_agent_custom_install_path | length > 0 -%}
{{- agent_optional_params.append( 'INSTALL_PATH_DATA="""' + s1_agent_custom_install_path + '"""' ) -}}
{%- endif -%}
{#- pass in Optional Agent Arguments -#}
{%- if agent_optional_params | length -%}
{{- install_arguments.append( '-a="' + agent_optional_params | join(' ') + '"' ) -}}
{%- endif -%}
{{- install_arguments | join(' ') -}}