# Set the provider for Vagrant
export VAGRANT_DEFAULT_PROVIDER="vmware_desktop"
# Resolves an issue on MacOS with ansible connecting to Windows
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export s1_api_token="<your SentinelOne API Token>"
export s1_agent_management_token="<your SentinelOne Management Token>"
export s1_agent_version_linux="<Linux Agent version number>"
export s1_agent_version_windows="<Windows Agent version number>"
